<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--ultimus_199-->
    <!--<add name="ULTIMUS" providerName="Oracle.DataAccess.Client" connectionString="user id=seblmis;password=seblmis;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.17.1.65)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ULTIMUS)))" />-->
    <!--<add name="ULTIMUS" providerName="Oracle.DataAccess.Client" connectionString="user id=seblmis;password=seblmis;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.17.1.199)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ULTIMUS)))" />-->
    <!--ultimus_snap-->
    <add name="ULTIMUS" providerName="Oracle.DataAccess.Client" connectionString="user id=seblmis;password=seblmis;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.17.250.4)(PORT=1599))(CONNECT_DATA=(SERVICE_NAME=ULTIMUS)))" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" />
      </controls>
    </pages>
  </system.web>
<system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="UI/Login.aspx" />
    </files>
  </defaultDocument>
</system.webServer>
</configuration>
